<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>600 Term Project: Twittch Data</title>

    <link rel="stylesheet" th:href="@{/css/reset.min.css}">
    <link rel="stylesheet" th:href="@{/css/search.css}">
    <link rel="stylesheet" type="text/css"
          href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/dot-luv/jquery-ui.css"
    />
    <link rel="stylesheet" th:href="@{/css/timeSlider.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <!--
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->

</head>

<body>
<div class="tab-wrapper">

    <ul class="tab-menu">
        <li class="active">tab #1</li>
        <li>tab #2</li>
        <li>tab #3</li>
    </ul>

    <div class="tab-content">

        <!--Tab 1 -->
        <div>

            <div style="float:left;height: 500px; width: 500px;">
                <p>Please select a time interval:</p>
                <br/>
                <div id="slider-range"></div>
                <span id="SlideMax"></span>
                <br/>
                <span id="time" type="text" style="border: 0; color: #f6931f; font-weight: bold;" size="100"></span>

                <table id="Schedule">
                    <thead>
                    <tr>
                        <th>Start Time</th>
                        <th>End Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

                <br/>
                <br/>
                <p> select a date interval:</p>
                <div id="slider-range-date"></div>
                <p>
                    <input type="text" id="amount" style="border: 0; color: #f6931f; font-weight: bold;" size="100"/>
                    <input type="submit" value="Submit" id="dateSubmit"
                           class="ui-button ui-state-default ui-corner-all"/>
                </p>
                <table id="DateSchedule">
                    <thead>
                    <tr>
                        <th>Start Time</th>
                        <th>End Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            </div>


            <!-- Graph For tab1-->
            <div id="tab1" style="height: 500px; width: 800px; float:left;"></div>
        </div>


        <!--Tab 2 -->
        <div>
            <div style="float:left;height: 500px; width: 500px;">
                <p>Please select games:</p>
                <div style="width: 400px; height: 500px; overflow-y: scroll;">
                    <p><input type="checkbox" name="category" value="Fortnite"/>Fortnite </p>
                    <p><input type="checkbox" name="category" value="League of Legends"/>League of Legends</p>
                    <p><input type="checkbox" name="category" value="PLAYERUNKNOWN'S BATTLEGROUNDS"/>PLAYERUNKNOWN'S
                        BATTLEGROUNDS</p>
                    <p><input type="checkbox" name="category" value="Dota 2"/>Dota 2</p>
                    <p><input type="checkbox" name="category" value="Overwatch"/>Overwatch</p>
                    <p><input type="checkbox" name="category" value="Counter-Strike: Global Offensive"/>Counter-Strike:
                        Global Offensive</p>
                    <p><input type="checkbox" name="category" value="World of Warcraft"/>World of Warcraft</p>
                    <p><input type="checkbox" name="category" value="Grand Theft Auto V"/>Grand Theft Auto V </p>
                    <p><input type="checkbox" name="category" value="Tom Clancy's Rainbow Six: Siege"/>Tom Clancy's
                        Rainbow Six: Siege</p>
                    <p><input type="checkbox" name="category" value="Path of Exile"/>Path of Exile</p>
                    <p><input type="checkbox" name="category" value="Watch Dogs"/>Watch Dogs</p>
                    <p><input type="checkbox" name="category" value="Heroes of the Storm"/>Heroes of the Storm</p>
                    <p><input type="checkbox" name="category" value="StarCraft II"/>StarCraft II</p>
                    <p><input type="checkbox" name="category" value="Sea of Thieves"/>Sea of Thieves</p>
                    <p><input type="checkbox" name="category" value="RuneScape"/>RuneScape </p>
                    <p><input type="checkbox" name="category" value="A Way Out"/>A Way Out</p>
                    <p><input type="checkbox" name="category" value="Music"/>Music</p>
                </div>
                </br>
                <p><input id="btnOperate" type="button" value="submit" class="ui-button ui-state-default ui-corner-all"
                          onclick="static_num()"/></p>

            </div>

            <div id="tab2" style="height: 500px; width: 800px; float:left;"></div>
        </div>

        <!--Tab 3 -->
        <div>
            <div class="container">
                <form action="/getScores" class="parent" method="post">
                    <input type="text" name="review" id="review">
                    <input id="search" type="button" value="get a score">
                </form>
            </div>
            <div id="score" align="center"></div>

        </div>

    </div>
    <!-- //tab-content -->

</div>
<!-- //tab-wrapper -->


<script th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
<script type="text/javascript"
        src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
<script th:src="@{/js/index.js}"></script>

<!--Script for tab 1 -->
<script type="text/javascript">
    var dom = document.getElementById("tab1");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    app.title = 'Game Rank';

    option = {

        title: {
            text: 'Game Rank',
            subtext: 'Data comes from https://www.twitch.tv/'
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'value',
            boundaryGap: [0, 0.01]
        }
    };

    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }
</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
    var $180 = $;
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" type="text/javascript"></script>

<!-- Script for time range slider-->
<script type="text/javascript">
    var startTime;
    var endTime;
    $180("#slider-range").slider({
        range: true, min: 0, max: 2879, values: [540, 1020], step: 5, slide: slideTime, change: checkMax
    });

    function slideTime(event, ui) {
        var val0 = $180("#slider-range").slider("values", 0),
            val1 = $180("#slider-range").slider("values", 1),
            minutes0 = parseInt(val0 % 60, 10),
            hours0 = parseInt(val0 / 60 % 24, 10),
            minutes1 = parseInt(val1 % 60, 10),
            hours1 = parseInt(val1 / 60 % 24, 10);

        startTime = getTime(hours0, minutes0);
        endTime = getTime(hours1, minutes1);
        $180("#time").text(startTime + ' - ' + endTime);
    }

    function getTime(hours, minutes) {
        var time = null;
        minutes = minutes + "";
        if (hours < 12) {
            time = "AM";
        }
        else {
            time = "PM";
        }
        if (hours == 0) {
            hours = 12;
        }
        if (hours > 12) {
            hours = hours - 12;
        }
        if (minutes.length == 1) {
            minutes = "0" + minutes;
        }
        return hours + ":" + minutes + " " + time;
    }

    function checkMax() {
        var size = $180("#slider-range").slider("values", 1) - $180("#slider-range").slider("values", 0);
        if (size >= 1435) {
            $180("#slider-range div")
                .addClass("ui-state-error")
                .removeClass("ui-widget-header");
            $180("#scheduleSubmit")
                .attr("disabled", "disabled")
                .addClass("ui-state-disabled")
                .removeClass("ui-state-default");
            $180("#SlideMax").text("Cannot be more than 24 hours");
        }
        else {
            $180("#slider-range div")
                .addClass("ui-widget-header")
                .removeClass("ui-state-error");
            $180("#scheduleSubmit")
                .removeAttr("disabled")
                .addClass("ui-state-default")
                .removeClass("ui-state-disabled");
            $180("#SlideMax").text("");
        }
    }

    $180("#scheduleSubmit").on('click', function () {
        console.log(startTime);
        console.log(endTime);
        $180('#Schedule tbody').append('<tr>' +
            '<td>' + startTime + '</td>' +
            '<td>' + endTime + '</td>' +
            '</tr>');
    });
    slideTime();
</script>


<!-- Script for Data range slider-->
<script>
    var startDate;
    var endDate;
    $(function () {

        $("#slider-range-date").slider({
            range: true,
            min: new Date('2018.03.25').getTime() / 1000,
            max: new Date('2018.11.16').getTime() / 1000,
            step: 86400,
            values: [new Date('2018.03.25').getTime() / 1000, new Date('2018.11.16').getTime() / 1000],
            slide: function (event, ui) {
                $("#amount").val((new Date(ui.values[0] * 1000).toDateString()) + " - " + (new Date(ui.values[1] * 1000)).toDateString());
                startDate = new Date(ui.values[0] * 1000).toDateString();
                endDate = new Date(ui.values[1] * 1000).toDateString();
            }
        });

        $("#amount").val((new Date($("#slider-range-date").slider("values", 0) * 1000).toDateString()) +
            " - " + (new Date($("#slider-range-date").slider("values", 1) * 1000)).toDateString());


        $("#dateSubmit").on('click', function () {
            console.log(startDate);
            console.log(endDate);
            $('#DateSchedule tbody').append('<tr>' +
      '<td>' + startDate + ' ' + startTime + '</td>' + '<td>' + ' ' + '</td>' +
                 '<td>' + endDate + '  ' + endTime + '</td>' +
                '</tr>');
            $.ajax({
                url: "/getRankByDateTimeRange",
                data: {
                    "startTime": startTime, "endTime": endTime,
                    "startDate": startDate, "endDate": endDate
                },
                type: "post",
                success: function (result) {
                    var newDom = document.getElementById("tab1");
                    var curChart = echarts.init(newDom);
                    var app = {};
                    newOption = null;
                    var nameArray = new Array();
                    var viewCountArray = new Array();
                    $.each(result, function (i, val) {
                        nameArray.push(val.game);
                        viewCountArray.push(val.total)
                    });
                    nameArray.reverse();
                    viewCountArray.reverse();
                    app.title = 'Game Rank';
                    newOption = {
                        title: {
                            text: 'Game Rank',
                            subtext: 'Data comes from https://www.twitch.tv/'
                        },
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'shadow'
                            }
                        },
                        grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        xAxis: {
                            type: 'value',
                            boundaryGap: [0, 0.01]
                        },
                        yAxis: {
                            position: 'right',
                            type: 'category',
                            data: nameArray
                        },
                        series: [
                            {
                                name: 'Viewers',
                                type: 'bar',
                                data: viewCountArray
                            }
                        ]
                    };
                    if (newOption && typeof newOption === "object") {
                        curChart.setOption(newOption, true);
                    }

                }
            })
        })

        $("#search").on('click', function () {
            document.getElementById("score").innerHTML="";
            var review = document.getElementById("review").value;
            console.log(review);
            $.ajax({
                url: "/getScores",
                data: {
                    "review": review
                },
                type: "post",
                success: function (result) {
                    document.getElementById("score").innerHTML="<h2 style='font-size: 50px'>"+result+"</h2>";

                },
                error: function (result) {
                    alert("error");
                }
            })
        });
    })


</script>

<!--Script for tab 2 -->
<script type="text/javascript">
    var dom = document.getElementById("tab2");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    option = {
        title: {
            text: 'Game viewers changes from March 2018 to November 2018',
        }
    };
    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }
</script>

<script type="text/javascript">
    function static_num() {
        var arr = new Array();
        var items = document.getElementsByName("category");
        for (i = 0; i < items.length; i++) {
            if (items[i].checked) {
                arr.push(items[i].value);
            }
        }
        $.ajax({
            url: "/getViewersByName",
            data: {
                gameNames: arr.join()
            },
            datatype : "json",
            type: "post",
            success: function (result) {
                var data = new Array();

                $.each(result, function (i, val) {
                    var curData = new Array();
                    var curSeries = {
                        type: 'line',
                        data: val.totals,
                        showSymbol: false,
                        name:val.gameName
                    };
                    data.push(curSeries);
                });
                var dom = document.getElementById("tab2");
                var myChart = echarts.init(dom);
                var app = {};
                option = null;
                option = {
                    title: {
                        text: 'Game viewers changes from March 2018 to November 2018',
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        }
                    },
                    xAxis: {
                        name: 'Day',
                        type: 'category',
                        data: result[0].dates
                    },
                    yAxis: {
                        name: 'Viewers',
                        type: 'value'
                    },
                    series: data
                };
                ;
                if (option && typeof option === "object") {
                    myChart.setOption(option, true);
                }
            }
        })


    };
</script>




</body>

</html>