<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tab1</title>
</head>
<body>
<form method="post" action="/getRankByTimeRange">
    <input type="text" id="startDate" name="startDate"/>start date <br/>
    <input type="text" id="endDate" name="endDate"/>end date <br/>
    <input type="text" id="startTime" name="startTime"/>start time <br/>
    <input type="text" id="endTime" name="endTime"/>end time <br/>
    <input type="submit" name="submit"/>

</form>
</body>
</html>